<div class="content">
  <div class="components-table-demo-control-bar">
    <div class="text-center">
      <nz-input [nzType]="'search'" [nzPlaceHolder]="'请输入问卷名称'" [(ngModel)]="searchObj.name" [nzSize]="'large'" name="name"
                (nzOnSearch)="onSearch(true)" style="width: 240px"></nz-input>
    </div>
    <div class="text-right">
      <button nz-button (click)="edit()" [nzType]="'primary'">添加</button>
    </div>
  </div>
  <nz-table #nzTable [nzAjaxData]="dataSet"
            [(nzPageIndex)]="page.current" [(nzPageSize)]="page.pageSize" [nzBordered]="false"
            (nzPageIndexChange)="onSearch()">
    <thead nz-thead>
    <tr>
      <th nz-th><span>操作</span></th>
      <th nz-th><span>编号</span></th>
      <th nz-th><span>名称</span></th>
      <th nz-th><span>版本</span></th>
      <th nz-th><span>状态</span></th>
      <th nz-th><span>备注</span></th>
      <th nz-th><span>创建时间</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
      <td nz-td>
        <nz-tooltip [nzTitle]="'修改'">
          <a nz-tooltip><i class="anticon anticon-edit" (click)="edit(data)"></i></a>
        </nz-tooltip>
        <span nz-table-divider></span>
        <nz-popconfirm [nzTitle]="'确定要删除吗？'" (nzOnConfirm)="del(data.record_id)">
          <nz-tooltip [nzTitle]="'删除'">
            <a nz-tooltip nz-popconfirm><i class="anticon anticon-delete"></i></a>
          </nz-tooltip>
        </nz-popconfirm>
        <span nz-table-divider></span>
        <nz-tooltip [nzTitle]="'导入'">
          <a nz-tooltip style="position: relative">
            <input type="file"  (change)="upload($event,data)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="opacity: 0;position: absolute;left: 0;right: 0;width: 20px" >
            <i class="anticon anticon-upload" (click)="edit(data)"></i></a>
        </nz-tooltip>
      </td>
      <td nz-td>{{data.code}}</td>
      <td nz-td>{{data.name}}</td>
      <td nz-td>{{data.version}}</td>
      <td nz-td>{{data.status==1?'启用':'停用'}}</td>
      <td nz-td>{{data.memo}}</td>
      <td nz-td>{{data.created*1000||''|date: 'yyyy-MM-dd'}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
